#cloud-config
cloud_config_modules:
- disk_setup
- mounts

hostname: {{ ansible_hostname }}
fqdn: {{ ansible_hostname }}.{{ dns_default_domain }}

write_files:
  - path: "/etc/sysconfig/docker-storage-setup"
    permissions: "0644"
    owner: "root"
    content: |
      DEVS='/dev/vol_docker'
      VG=docker_vol
      DATA_SIZE=95%VG
      STORAGE_DRIVER=overlay2
      CONTAINER_ROOT_LV_NAME=dockerlv
      CONTAINER_ROOT_LV_MOUNT_PATH=/var/lib/docker
      CONTAINER_ROOT_LV_SIZE=100%FREE

fs_setup:
- label: emptydir
  filesystem: xfs
  device: /dev/vol_openshift
  partition: auto

runcmd:
- mkdir -p /var/lib/origin/openshift.local.volumes

mounts:
- [ /dev/vol_openshift, /var/lib/origin/openshift.local.volumes, xfs, "defaults,gquota" ]
